// bootstrap

//colores
$primary: aqua;
$secondary: red;

// estructura
$spacer: 1.5rem;

// efectos
$enable-shadows: true;
$enable-gradients: true;
$bordes-locos: 2px 1px 3px 1px;

// grilla
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1600px );